<section class="card">
  <header>
    <a class="comments" id="{{id}}">
    {{{name}}}
    </a>
    <div>
      {{{user.name}}}
    </div>
  </header>
  <div class="card-body">
    <p>{{{description}}}</p>
    <p>{{{date_created}}}</p>
  </div>
</section>